body
{
	background-color: #e6c45f;
	text-align: justify;
    font-family: sans-serif;
    color:black;

}
body, html {
    height: 100%;
    margin: 0;
   
    justify-content: center;
    align-items: center;
}

.centered-content {
    text-align: center;
}
.container
{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.document {
    border: 1px solid #0b0b0b;
    padding: 10px;
    margin-bottom: 10px;
    width: 45%; /* Adjust width as needed */
    float: left; /* Float left to display two documents side by side */
    margin-right: 5%; /* Add spacing between documents */
    box-sizing: border-box; 
}
.table-container {
    margin-bottom: 20px; /* Space between tables */
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

/* Reset and increment counters for each table */
.table-container {
    counter-reset: row-number; /* Initialize the counter for each table */
}

table tbody tr {
    counter-increment: row-number; /* Increment counter for each row */
}

table tbody td:first-of-type::before {
    content: counter(row-number) ". "; /* Display the counter value before cell content */
    font-weight: bold; /* Optional: style the number */
}



