{% extends "base.html" %}
{% block tittle%} college list{% endblock%}
{% block content%}
    {% if data %}
        {% if data_type == "list" and map == "college_result" %}
        <div class="stu-reg-container">
            <div class="centered-content">
                
                    <form action="{{ url_for('student_operation') }}" method="post">
                        <button name="operation" value ="fetch registration">Back to Prediction Hub</button>
                    </form><br>
                    <form action="{{ url_for('download_pdf') }}" method="post">
                        <input type="hidden" name="data_input" value="{{ data }}">
                        <input type="hidden" name="student_data" value ="{{student_data}}">
                        <button>Download the PDF of College Seat Details</button>
                    </form><br>
                    <p>The following are the seats taken in the previous year counselling </p>
                    <div class="stu-reg-container">
                    
                    <h3>College Name: {{data[0]["Institute"]}}</h3>
                    <h3>Course: {{data[0]["Course"]}}</h3>
                    <p3>Number of Bed: {{data[0]["Beds"] }}</p3>
                    <p>College Fee: {{data[0]["Fee"]}}</p>
                    <p>Number of Bond Year: {{data[0]["Bond Years"]}}</p>
                    <p>Penality Amount: ₹ {{data[0]["Bond Penalty"]}}</p>
                    <p>Stipend Year one: ₹ {{data[0]["Stipend Year 1"]}}</p>
                    

                </div>                  
                    {% for item in data %}                      
                    <div class="document">                  
                        <p3>Round: {{item.Round}}</p3><br>
                        <p3>Student Rank: {{ item.Rank }}</p3><br>                           
                        <p3>Category : {{ item.Category}}</p3><br>                       
                        <p3>Quota: {{ item.Quota }}</p3>                       
                        </div> 
                    {% endfor %}
                
            </div>
        </div>
        {% endif %}     
    {% endif %}
     
{% endblock %}

