{% extends "base.html" %}
{% block tittle%} Welcome {% endblock%}
{% block content%}
    <h1>Welcome to Neet predictor Hub</h1>
    {% if data %}
        {% if data_type == "list" and map == "from operation" %}
        <form action = "/Predictor_hub" method="post">
            <label for="unique_id">Please enter student Unique ID </label>
            <input type="text" name="unique_id", required><br><br>
            <button type="submit">Fetch student data</button>  
        </form> 
            <h2>Please find the data below</h2>
            <p>Navigate to student operation page to explore more data <a href="{{ url_for('student_operation') }}">click here</a></p> 
            {% for item in data %}    
                <div class="document">
                    <h3>Name: {{ item.name }}</h3>
                    <h3>sex: {{ item.sex }}</h3>
                    <h3>zone: {{ item.zone }}</h3>
                    <h3>mark: {{ item.mark }}</h3> 
                    <h3>unique_id: {{ item.unique_id }}</h3>                  
                </div> 
            {% endfor %} 
        {% endif %}
        {% if data_type == "list" and map == "from predictor hub" %}
            {% for item in data %}    
                <div class="document">
                    <h3>Name: {{ item.name }}</h3>
                    <h3>sex: {{ item.sex }}</h3>
                    <h3>zone: {{ item.zone }}</h3>
                    <h3>mark: {{ item.mark }}</h3> 
                    <h3>unique_id: {{ item.unique_id }}</h3>                  
                </div> 
            {% endfor %}
            <form action="prediction_algorithm" method="post">
                <div >
                    <label for="priority-1">Choose first priority</label>
                    <select name="priority-1">   <option value="None">None</option>
                        <option value="bed">Bed</option>
                        <option value="rank">Rank</option>
                        <option value="size">Size</option>
                    </select><br><br>
                    <label for="priority-2">Choose second priority</label>
                    <select name="priority-2">   <option value="None">None</option>
                        <option value="bed">Bed</option>
                        <option value="rank">Rank</option>
                        <option value="size">Size</option>
                    </select><br><br>
                    <label for="priority-2">Choose third priority</label>
                    <select name="priority-3">    <option value="None">None</option>
                        <option value="bed">Bed</option> 
                        <option value="rank">Rank</option>
                        <option value="size">Size</option>
                    </select><br><br>
                    <button type="submit">Hit me to make your futire bright</button>
                </div>
            </form>
        {% endif %}
        {% if data_type == "dict" %}
            <h2>Student registration created successfully</h2>
            <p>To create a another student registration page <a href="{{ url_for('student_operation') }}">click here</a></p> 
            <div class="document">
                <h3>Name: {{ data.name }}</h3>
                <h3>sex: {{ data.sex }}</h3>
                <h3>zone: {{ data.zone }}</h3>
                <h3>mark: {{ data.mark }}</h3>  
                <h3>unique_id: {{ data.unique_id }}</h3>                 
            </div>
        {% endif %}
        {% if data_type == "list" and map == "college_result" %}
            <h1>Hello Amigo...this is your perfect match </h1>
            {% for item in data %}    
                <div class="document">
                    <h3>college Name: {{ item.name }}</h3>
                    <h3>college rank: {{ item.rank }}</h3>
                    <h3>college zone: {{ item.zone }}</h3>
                    <h3>number of bed: {{ item.bed }}</h3> 
                    <h3>college size : {{ item.size}}</h3>                  
                </div> 
            {% endfor %}  
        {% endif %}     
    {% endif %}
     
{% endblock %}

