{% extends "base.html" %}
{% block tittle%} student_registration {% endblock%}
{% block content%}
<body>
    {% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li>{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
      {% endwith %}
    
    <h1>Below are the sorted colleges list please  </h1>
    <p>Please select the button to get college details</p>
    {% if data %}
        <div class="table-container"></div>
            <table>
                <thead>
                    <tr>
                        <th>Order</th>
                        <th>College Name</th>
                        <th>seats</th>
                    </tr>
                </thead>
                {% for college_name,seats in data.items() %}
                    <tbody>
                        <tr>
                            <form action="student_operation" method="post">
                                <td></td>
                                <td>
                                    <input type="hidden" name=filter_data value="{{filter_data}}">
                                    <input type="hidden" name="student_data" value ="{{unique_id}}">
                                    <button type="submit" name="operation" value="{{college_name}}">
                                        {{college_name}}
                                    </button>
                                </td>
                                <td>
                                    {{seats}}
                                </td>
                            </form>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
        <div>
            <form action="{{ url_for('download_pdf_list') }}" method="post">
                <input type="hidden" name="data_input" value="{{ data }}">
                <input type="hidden" name="student_data" value ="{{unique_id}}"><br>
                <button>Genarate pdf</button>
            </form>
        </div>
    {%endif%}     

{% endblock %}