{% extends "base.html" %}
{% block tittle%} Remove card {% endblock%}
{% block content%}
<body>
    {% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li>{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
      {% endwith %}
    <h1>Welcome to student registration form</h1>
    <form action = /student_registration method="post">
        <label for="name">Please enter  name </label>
        <input type="text" name="name", required><br><br>
        <label for="mark">Please enter  mark </label>
        <input type="text" name="mark"><br><br>
        <label for="zone">Please enter  zone </label>
        <input type="text" name="zone"><br><br>
        <label for="sex">Please enter  sex </label>
        <input type="text" name="sex"><br><br>
        <label for="ID">Please enter student ID </label>
        <input type="text" name="ID"><br><br>
        <!-- <label for="institute">Please enter INSTITUTE </label>
        <input type="text" name="institute", required><br><br>
        <label for="type of institute">Please enter  type of institution </label>
        <input type="text" name="type of institute"><br><br>
        <label for="number of beds">Please enter number of beds </label>
        <input type="text" name="number of beds"><br><br>
        <label for="passing rate">Please enter  passing rate </label>
        <input type="text" name="passing rate"><br><br>
        <label for="feedback">Please enter feedback</label>
        <input type="text" name="feedback"><br><br> -->
        <button type="submit">create registration</button>      
    </form>  
{% endblock %}