{% extends "base.html" %}
{% block tittle%} student registration {% endblock%}
{% block content%}
<body>
    {% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li>{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
      {% endwith %}
    <h1>Welcome to student registration edit form</h1>
    {% if not unique_id %}
        <h2>Please enter for which ID to edit</h2>
        <form action = /student_registration_update method="post">
            <div class="container">          
                <label for="unique_id">enter ID</label>
                <input type="text" name="unique_id", required><br><br>
                <button type="submit">select to get details</button>
            </div>
            <div>
                <h2>Please find the data below</h2>
                {% for item in data %}                   
                    <div class="document">
                        <h3>Name: {{ item.name }}</h3>
                        <h3>unique_id: {{ item.unique_id }}</h3>                  
                    </div> 
                {% endfor %} 
            </div>
        </form> 
    {% else %}
        {% if data_type == "list" %}
        <h2>Please find the data below</h2>
            <form action = "/student_registration_update_display" method="post">
            {% for item in data %}               
                <div class="document">
                    <h3>Name: {{ item.name }}</h3>
                    <label for="name">name</label>
                    <input type="text" name="name" value = "{{ item.name }}" required><br><br>

                    <h3>mark: {{ item.mark }}</h3>
                    <label for="mark">mark</label>
                    <input type="text" name="mark" value = "{{ item.mark }}" required><br><br>

                    <h3>state: {{ item.state }}</h3>
                    <label for="state">state</label>
                     <input type="text" name="state" value = "{{ item.state }}" required><br><br>

                    <h3>sex: {{ item.sex }}</h3>
                    <label for="sex">sex</label>
                    <input type="text" name="sex" value = "{{ item.sex }}" required><br><br>
                    
                    <h3>Category: {{ item.Category }}</h3>
                    <label for="Category">Category</label>
                    <input type="text" name="Category" value = "{{ item.Category }}" required><br><br>
                    
                    <h3>Course: {{ item.Course }}</h3>
                    <label for="Course">Course</label>
                    <input type="text" name="Course" value = "{{ item.Course }}" required><br><br>
                    
                    <h3>Quota: {{ item.Quota }}</h3>
                    <label for="Quota">Quota</label>
                    <input type="text" name="Quota" value = "{{ item.Quota }}" required><br><br>

                    <h3>unique_id: {{ item.unique_id }}</h3>
                    <label for="unique_id">non editable</label>
                    <input type="text" name="unique_id" value = "{{ item.unique_id }}" readonly ><br><br>

                    <button type="submit">Edit registration</button>                 
                </div> 
            {% endfor %} 
            </form>        
        {% endif %}         
    {% endif %}
{% endblock %}