{% extends "base.html" %}
{% block tittle%} Welcome {% endblock%}
{% block content%}
    {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
 <body>  
    <div class="centered-content">
		<h1>Welcome to Mednucleus Neet predictor Hub</h1>
		<h2>Please enter your username and password</h2>

			<div class="popup">
				<form action="/login" method="post">
					<label for="username">Username:</label>
					<input type="email" name="username" required><br><br>
					<label for="password">Password:</label>
					<input type="password" name="password" required><br><br>
					<div class="centered-content">
						<div class="container">
							<input type="submit" name = "operation" value="student_registration">
							<br><br>
							<input type="submit" name = "operation" value="Neet predictor">
						</div>
					</div>  
				</form>
			</div>
	</div>
 </body>     
{% endblock %}
